*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	width: 95%;
	overflow:auto;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #FFFFFF;
	background-color: #990033;
	text-align: right;
}

h2 {
	color: #FFFFFF;
	background-color: #990033;
	text-align: left;
}

table {
	width: 100%;
}

table.hidden {
	border-style: hidden;
}
